.detail {
    padding-top: 20px;
    &-img {
        width: 100%;
    }
    &-title{
        margin-bottom: 15px;
    }
    &-text{
        margin-bottom: 10px;
    }
    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            margin-left: 10px;
        }
    }
}